services:
  postgres:
    container_name: postgres
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: directory_service
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5430:5432"
    volumes:
      - postgres-data:/var/lib/postgresql

  seq:
    image: datalust/seq:latest
    container_name: seq
    restart: always
    environment:
      ACCEPT_EULA: Y
      SEQ_FIRSTRUN_ADMINPASSWORD: secure
    ports:
      - 5431:80
      - 5341:5341

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    restart: always

  api:
    container_name: directory-service
    build:
      context: .
      dockerfile: ./Dockerfile   # если Dockerfile в корне решения
    depends_on:
      - postgres
      - seq
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__DataBase: "Host=postgres;Port=5432;Database=directory_service;Username=postgres;Password=postgres"
    ports:
      - "8080:8080"
    restart: always

volumes:
  postgres-data:
